.party{
    width: 100vw;
    height: 10vh;
    background-color: brown;
}

.container{
    width: 80vh;
    margin:auto;
    height: 20vh;
    background-color: beige;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    width: 30%;
    height: 50%;
    background-color: blue;
    border: 1rem solid violet;
}

picture img{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
}

@media (max-width : 640px){
    .container{
        flex-direction: column;
        justify-content: space-around;
        width: 90vw;
        height: 80vh;
    }
    .item{
        height: 30%;
        width: 80%;
    }
}
